/* Layout superior semelhante ao da imagem */

body {
    color: white;
    background: black;
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
}

header {
    background-color: black;
    padding: 15px;
}

.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 28px;
    font-weight: bold;
    color: white;
}

.nav-links {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.nav-links li {
    display: inline-block;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 5px;
}

.nav-links li a:hover {
    background-color: rgb(42, 122, 228);
}

.dropdown a:after {
    content: ' ▾';
}

footer {
    text-align: center;
    padding: 20px;
    background-color: black;
    color: white;
}

